os:
  - linux
  - osx
language: generic
sudo: required
dist: bionic
osx_image: xcode11.3
install:
  - eval "$(curl -sL https://swiftenv.fuller.li/install.sh)"
script:
  - swift package reset
  - swift build -Xcxx -Wno-modules-import-nested-redundant
  - swift test
